<!-- <div class="container">
    <h2>Upcoming Movies</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let movie of upcomingMovies">
        <div class="card">
          <img class="card-img-top" src="{{ movie.jpg }}" alt="{{ movie.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.description }}</p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->